<a id="aboutme"></a>
<div class="container d-flex justify-content-center align-items-center">
    <div class="w-100 content py-3">
        <h2 class="py-2 pl-3 mb-3">{{title[globalS.language]}}</h2>
        <div class="row">
            <div class="col-12 col-sm-auto">
                <img src="../../../assets/img/person.jpg" style="width: 250px" />
            </div>
            <div class="col-12 col-sm row m-0 p-0">
                <div class="col-12 col-sm d-flex justify-content-center align-items-center">
                    <div class="w-100">
                        {{description[globalS.language]}}
                    </div>
                </div>
                <div class="col-12 col-sm-auto d-flex justify-content-center align-items-center">
                    <div class="w-100 main-icons icon-text">
                        <p><i class="fas fa-male mr-2"></i>{{age}} {{agePrefix[globalS.language]}}</p>
                        <p><i class="fas fa-map-marker-alt mr-2"></i>Santiago, Chile</p>
                        <p><i class="fas fa-envelope mr-2"></i>gerald_leonel_5@hotmail.com</p>
                        <p><i class="fas fa-phone mr-2"></i>+56 9 6470 2103</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
