<a id="contact"></a>
<div class="w-100 container-work d-flex" style="overflow:hidden">
    <div class="w-100 container-work-shadow d-flex justify-content-center align-items-center">
        <div class="w-100 mw-1100px py-5">
            <div class="row">
                <div class="col-12 col-sm-auto">
                    <h2 class="py-2 pl-3 mb-3 text-white ml-auto wow slideInLeft" data-wow-duration="2s">{{title[globalS.language]}}</h2>
                </div>
                <div class="col-12 col-sm d-flex align-items-center justify-content-center wow bounceInDown" data-wow-duration="2s">
                    <div class="icon-grid text-white wow bounceInUp" data-wow-delay="1.5s" data-wow-duration="2s">
                        <a target="_blank" href="https://wa.me/56964702103">
                            <i class="fab fa-whatsapp"></i>                        
                        </a>
                    </div>
                    <div class="icon-grid text-white wow bounceInUp" data-wow-delay="2s" data-wow-duration="2s">
                        <a target="_blank" href="https://facebook.com/GeraldAlarcon05">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </div>
                    <div class="icon-grid text-white wow bounceInDown" data-wow-delay="2.5s" data-wow-duration="2s">
                        <a target="_blank" href="https://instagram.com/geraldalarcon_">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                    <div class="icon-grid text-white wow bounceInDown" data-wow-delay="3s" data-wow-duration="2s">
                        <a target="_blank" href="https://bitbucket.org/geralda05">
                            <i class="fab fa-bitbucket"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-auto text-white d-flex justify-content-center  align-items-center wow slideInRight" data-wow-duration="2s">
                    <span style="white-space: nowrap;">
                        +56 9 6470 2103 || gerald_leonel_5@hotmail.com <br>© 2020. Gerald Leonel Alarcón. All rights reserved.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>