@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

p, div, h1{
    font-family: 'Raleway', sans-serif;
}

.advent{
    font-family: 'Advent Pro', sans-serif;
}

.mw-1100px{
    max-width:1100px;
}

.shadows-lg{
    font-family: 'Shadows Into Light', cursive;
}